<img src="<%= @representative.photo_url %>" alt="No photo provided" />

<h1>Name</h1>
<p><%= @representative.name %></p>

<h1>Address</h1>
<p><%= @representative.address %></p>

<h1>Party</h1>
<p><%= @representative.party %></p>

